<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title></title>
    <script type="text/javascript" src="../files/angular/angular.js"></script>
    <script type="text/javascript" src="../files/comsolitbacklog.js"></script>
    <style>
      .comsolitbldragover td {
        border-bottom: 2em solid red;
      }

      .comsolitbldragged {
        opacity: 0.4;
      }

      .move {
        background-color: green;
      }

      .remove {
        background-color: red;
      }

      .action {
        color: white;
        margin: 1px .1em;
      }
    </style>
  </head>

  <body ng-app="comsolitBacklog" ng-controller="comsolitBacklogCtrl">

    Queue ({{postQueue.length}}):
    <div style="min-height:4em" style="border: 1px solid black">
      <span ng-repeat="a in postQueue">
        <span ng-if="a.action === 'move'" class="move action">
          <span>move {{a.dragId}}</span>
          <span ng-if="a.dropId">under {{a.dropId}}</span>
        </span>
        <span ng-if="a.action === 'remove'" class="remove action">remove {{a.id}}</span>
      </span>
    </div>
    <button ng-click="success()">success!</button>

    <h1>prioritized items</h1>
    <div>
      <table style="width:100%" cellspacing="1">
        <tbody>
          <tr comsolit-backlog-droppable="comsolitbldragover">
            <td colspan="99" style="min-heigth:2em;background-color:grey">first line</td>
          </tr>
        </tbody>

        <tbody>
          <tr style="background-color:green" ng-repeat="item in backlogItems|prioritizedItems:true|orderBy:'backlog_position'" comsolit-backlog-draggable="comsolitbldragged" comsolit-backlog-droppable="comsolitbldragover" draggable="true" data-id="{{item.id}}">
            <td ng-bind="item.id"></td>
            <td ng-bind="item.summary"></td>
            <td ng-bind="item.backlog_position"></td>
            <td><button ng-click="removeItem(item.id)">remove</butto<n</td>
          </tr>
        </tbody>

      </table
    </div>

    <h1>unprioritized items</h1>
    <div>
      <table style="width:100%">
        <tbody>
          <tr style="background-color:green" ng-repeat="item in backlogItems|prioritizedItems:false"  comsolit-backlog-draggable="comsolitbldragged" draggable="true" data-id="{{item.id}}">
            <td ng-bind="item.id"></td>
            <td ng-bind="item.summary"></td>
            <td ng-bind="item.backlog_position"></td>
            <td><button ng-click="moveItem(item.id)">to first position</butto<n</td>
          </tr>
        </tbody>
      </table
    </div>

    <script class="embedded-json-data" data-name="backlogItems" type="text/json">
      [
        {"id": 1, "backlog_position": 1, "summary": "hallo welt 1"},
        {"id": 2, "backlog_position": 2, "summary": "hallo welt 2"},
        {"id": 3, "backlog_position": 3, "summary": "hallo welt 3"},
        {"id": 4, "backlog_position": 4, "summary": "hallo welt 4"},
        {"id": 5, "backlog_position": 0, "summary": "hallo welt 5"},
        {"id": 6, "backlog_position": 0, "summary": "hallo welt 6"}
      ]
    </script>
  </body>
</html>
