@CHARSET "UTF-8";

.comsolitBacklogDraggableGrab {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.comsolitBacklogArea thead tr th {
  background-color: #c8c8e8;
}

.comsolitBacklogArea {
  border: 1px solid black;
  margin-bottom: 1em;
}

.comsolitbldragover td {
  border-bottom: 3em solid red;
}

.comsolitbldragged {
  opacity: 0.5;
}

.move {
  background-color: green;
}

.remove {
  background-color: red;
}

.action {
  color: white;
  margin: 1px .1em;
}