@CHARSET "UTF-8";

.comsolitbldragover {

}

.comsolitbldragover td {
  border-bottom: 3em solid red;
}

.comsolitbldragged {
  opacity: 0.5;
}

.move {
  background-color: green;
}

.remove {
  background-color: red;
}

.action {
  color: white;
  margin: 1px .1em;
}